

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    /* header */
    .container {
        width: 300px;
    }
    .header_area {
        padding: 2px 0;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 15px 0;
}
    .logo {
        text-align: center;
        line-height: 11px;
    }
    .logo a {
        font-size: 11px;
        font-weight: 500;
        margin-left: 2px;
    }
    .menu{
        display: none;
    }
    .menu ul li {
        margin-left: 4px;
    }
    .menu ul li a {
        font-size: 9px;
        padding: 4px 5px;
    }
    /* bannner */
    .banner_img {
        min-height: 211px;
    }
    .div {
        top: 59px;
        left: 58px;
        right: 82px;
        padding-left: 30px;
        text-align: center;
    }
    .div h2 {
        font-size: 25px;
        font-weight: 500;
    }
    .div p {
        font-size: 12px;
    }

    /* about */
    .about_area {
        padding: 8px 0;
    }
    .title {
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .title h2 {
        margin: 21px 0;
        font-size: 22px;
        margin-bottom: 3px;
    }
    .title p {
        font-size: 12px;
        line-height: 16px;
    }
    .about_box {
        grid-template-columns: repeat(1, auto);
        grid-gap: 27px;
    }
    .single_about {
        padding: 5px;
        margin: 0 6px;
    }
    .single_about i {
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 14px;
        margin: 6px;
    }
    .single_about h4 {
        font-size: 19px;
    }

    .single_about p {
        font-size: 14px;
        padding: 10px;
        margin: 5px 0;
    }

    /* service */
    .service_area {
        padding: 11px 0;
    }
    .service_box {
        grid-template-columns: repeat(1, auto);
        grid-gap: 15px;
    }
    .singel_service {
        padding: 5px;
        margin: 6px;
    }
    .singel_service h4 {
        font-size: 16px;
        padding: 11px;
        margin-bottom: 6px;
    }
    .singel_service p {
        font-size: 14px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .singel_service a {
        padding: 5px 12px;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    /* gallery */
    .gallery_area {
        padding: 11px 0;
    }
    .gallery {
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin-top: 9px;
    }
    .single_gallery {
        padding: 19px;
    }
    .contact_area {
        padding-top: 2px;
    }
    .contact {
        padding: 8px 0;
        grid-template-columns: repeat(1, auto);
        column-gap: 20px;
    }
    .con_form {
        width: 100%;
        margin-bottom: 25px;
    }
    .single_add {
        margin-bottom: 22px;
        padding: 0px 73px;
    }
    .single_add i {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
    .single_add h4 {
        font-size: 16px;
    }
    .single_add span {
        font-size: 12px;
    }
     
    /* end */
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /* header */
    .container {
        width: 560px;
    }
    .header {
        padding: 6px 0;
    }
    .logo {
        text-align: center;
    }
    .logo a {
        font-size: 15px;
        font-weight: 600;
        margin-left: -2px;
    }
    .menu ul li {
        margin-left: -7px;
    }
    .menu ul li a {
        font-size: 14px;
    }
    /* about */
    .about_area {
        padding: 20px 0;
    }
    .title {
        padding: 0 44px;
        margin-bottom: 10px;
    }
    .title h2 {
        font-size: 26px;
        margin-bottom: -3px;
    }
    .title p {
        line-height: 17px;
        font-size: 14px;
    }
    .about_box {
        grid-template-columns: repeat(1, auto);
        grid-gap: 30px;
    }
    .single_about{
        padding: 13px;
        margin: 20px;
    }
    .single_about i {
        height: 45px;
        width: 45px;
        line-height: 45px;
        font-size: 18px;
        margin-bottom: 4px;
    }
    .single_about h4 {
        font-size: 22px;
    }
    .single_about p {
        text-align: justify;
        margin-top: 7px;
    }
    /* container */
    .contact {
        padding: 13px 0;
        grid-template-columns: repeat(1, auto);
    }
    .con_form {
        width: 565px;
    }
    /* service */
    .service_area {
        padding: 44px 0;
    }
    .service_box {
        grid-template-columns: repeat(1, auto);
        grid-gap: 28px;
        padding: 20px;
    }
    .singel_service a {
        padding: 9px 13px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    /* gallery */
    .gallery_area {
        padding: 44px 0;
    }
    .gallery {
        grid-template-columns: repeat(2, auto);
        grid-gap: 26px;
        margin-top: 17px;
        padding: 24px;
    }
    /* contact */
    .contact_area {
        padding: 40px 0;
    }
    .con_form {
        width: 561px;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .con_address{
        padding: 0 35px;
    }
    .single_add {
        margin-bottom: 21px;
        padding: 0 150px;
    }
    /* end */
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /* common */
    .container {
        width: 750px;
    }
    /* header */
    .header {
        padding: 10px 0;
    }
    .logo {
        text-align: center;
        line-height: 23px;
    }
    .logo a {
        font-size: 20px;
        margin-left: 15px;
    }
    /* banner */
    .div {
        left: 14%;
    }
    /* about */
    .about_area {
        padding: 35px 0;
    }
    .title h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .title p {
        font-size: 14px;
        line-height: 18px;
    }
    .about_box {
        grid-gap: 17px;
    }
    .single_about {
        padding: 10px;
    }
    .single_about i {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 15px;
        margin-bottom: -2px;
    }
    .single_about p {
        margin-top: -5px;
    }
    /* service */
    .service_area {
        padding: 22px 0;
    }
    .title {
        margin-bottom: 8px;
    }
    .service_box {
        column-gap: 8px;
    }
    .singel_service {
        padding: 6px;
    }
    .singel_service h4 {
        font-size: 19px;
        padding: 6px;
        margin-bottom: 4px;
    }
    .singel_service p {
        padding: 3px;
        font-size: 16px;
        margin-bottom: 4px;
    }
    /* gallery */
    .gallery_area {
        padding: 20px 0px;
    }
    .gallery {
        grid-gap: 10px;
        margin-top: 12px;
    }
    /* contact */
    .contact {
        padding: 3px 77px;
        grid-template-columns: repeat(1, auto);
    }
    .con_form {
        width: 600px;
        margin-bottom: 36px;
    }
    .single_add i {
        margin-top: 10px;
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 14px;
    }
    .single_add {
        padding-left: 170px;
        margin-bottom: 23px;
    }
    .single_add h4 {
        padding-right: 96px;
        font-size: 18px;
    }
    /* end */
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* common */
    .container {
        width: 950px;
    }
    /* header */
    .header {
        grid-template-columns: 1fr 2fr;
        padding: 19px 0;
    }
    .logo a {
        font-size: 23px;
    }

    /* about */
    .about_area {
        padding: 36px 0;
    }
    .title p {
        margin-top: 15px;
    }
    .about_box {
        grid-gap: 24px;
    }
    .single_about {
        padding: 10px;
    }
    .single_about i {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 20px;
        margin-bottom: 7px;
    }
    .single_about p {
        text-align: justify;
        margin-top: 0px;
        line-height: 26px;
    }
    /*service*/
    .service_area {
        padding: 36px 0;
    }
    .title h2 {
        font-size: 32px;
        margin-bottom: -18px;
    }
    .service_box {
        column-gap: 13px;
    }
    .singel_service p {
        margin-bottom: 7px;
    }
    .singel_service a {
        margin-bottom: 8px;
    }
    /* gallery */
    .gallery_area {
        padding: 36px 0px;
    }
    .gallery {
        grid-gap: 11px;
        margin-top: 35px;
    }

    /* contact */
    .contact_area {
        padding-top: 25px;
    }
    .contact {
        padding: 13px 46px;
        column-gap: 47px;
    }
    .single_add {
        margin-bottom: 18px;
    }
    /* end */
}

/* Extra large devices (large desktops, 1200px and up)*/
/* @media (min-width: 1200px) { ... } */
@media (min-width: 1200px) and (max-width: 1440.98px){ ... }
/* Large devices (desktops, 992px and up)*/
/* @media (min-width: 1200px) and (max-width: 1440.98px) */
@media (min-width: 1401px) { ... }
